@CHARSET "UTF-8";
@font-face {
    font-family: nimbus;
    src: url("Nimbus-Regular.ttf");
}
body{
	font-family: nimbus, Serif;
}
.euro{
	max-height: 0.9em;
  max-width: 0.6em;
	position: relative;
	top: 2px;
	margin-left: 3px;
}
#navigationButton{
	display: none;
}
h3{
	clear: both;
}
#content{
	float: left;
	width: 80%;
	box-sizing: border-box;
}
nav{
	min-height: 100%;
	width: 20%;
	float: left;
	box-sizing: border-box;
}
nav ul{
	padding: 0px;
	margin: 0px;
	text-align: right;
	padding: 15px 20px 0px 0px;
}
nav ul li a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
}
nav ul li a:hover{
	text-decoration: underline;
}
nav ul li .active{
	text-decoration: underline;
}
nav ul li{
	margin: 5px 0px;
}
.NewTrainingCategory{
	width: 10vw;
  	height: 10vw;
	display: inline-block;
	box-sizing: border-box;	
	border: 2px solid black;
	cursor: pointer;
	background-size: 100%;
}
.NewTrainingCategory .title{
	text-align: center;
	font-size: 0.95vw;
	text-transform: uppercase;
	padding: 5%;
}
.fiftyfifty{
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.thirdty{
	float: left;
	width: 30%;
	box-sizing: border-box;
}
.partTimeTitle{
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.partTimeDetail{
	display: none;
	width: 100%;
	border-collapse: collapse;
}
.partTimeDetail .detail1{
	background-color: #f3f3f3;
}
.partTimeDetail .detail2{
	background-color: #d3d7cf;
}
.partTimeDetail .detail3{
	background-color: #babdb6;
}
.partTimeTime{
	width: 5vw;
  	height: 5vw;
  	font-size: 1.3vW;
  	line-height: 5vw;
  	clear: left;
  	text-align: center;
}
.partTimeRest{
	height: 5vw;
	line-height: 2.5vw;
	font-size: 1vW;
	text-align: left;
	width: 50%;
}
.partTimeGetJob{
	width: 5vw;
  	height: 5vw;
  	font-size: 1vW;
  	line-height: 5vw;
  	font-size: 1.3vW;
  	text-align: center;
	background-image: url(../images/icons/go.svg);
	background-size: 100%;
	cursor: pointer;
}
.partTimeGetJob:hover{
	background-image: url(../images/icons/go-hover.svg);
}
.form{
	width: 300px;
	margin: 0px auto;
	display: block;
	padding: 10px;
}
.formField{
	display: block;
	padding: 12px 0px;
}

.formField label{
	display: block;
	margin: 0px 0px 3px 0px;
	text-transform: uppercase;
}

.formField input{
	width: 100%;	
	border: 1px solid black;
	padding: 2px;
	border-radius: 3px;
	outline: none;
}
.formField textarea{
	width: 100%;	
	border: 1px solid black;
	padding: 2px;
	border-radius: 3px;
	outline: none;
	height: 10em;
}
.formField select{
	width: 100%;	
	border: 1px solid black;
	padding: 2px;
	border-radius: 3px;
	outline: none;
}
.formField input:focus{
	border: 1px solid gray;
}
.formField .checkbox{
	width: auto;
	display: inline-block;
	padding: 0px 3px;
}

#mailbox_icon {
	width: 40px;
	height: 30px;
	background-size: 40px 30px;
	background-repeat: no-repeat;
	display: inline-block;
	text-decoration: none;
}

#mailbox_icon span{
	display: inline-block;
	font-family: Arial;
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 26px;
	color: white;
}
#logo{
  display: block;
	width: 400px;
	height: 85px;
  position: relative;
  z-index: 300;
	background-image: url('../images/icons/biathlete.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}
#header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 62px;
}
#head_navigation{
	margin-left: 410px;
	height: 100%;
	border-bottom: 1px solid black;
	text-align: center;
}
.header_money{
	float: left;
	position: relative;
	top: 25px;
	left: 45px;
	font-size: 16px;
}
.header_name{
	float: right;
	position: relative;
	top: 25px;
	left: -45px;
	font-size: 16px;	
  color: black;
  text-decoration: none;
}
.header_message{
	float: right;
	position: relative;
	top: 18px;
	left: -60px;
	font-size: 16px;
}
.header_energy{
	position: relative;
	top: 25px;
	font-size: 16px;
}
.inactiveSteps{
	display: none;
}
.step{
	display: inline-block;
	border: 1px solid black;
	padding: 2px 4px;
	line-height: 22px;
	cursor: pointer;
}
.shopInactiveCategory{
	display: none;
}
.shopCategoriesTitles{
	display: inline-block;
	padding: 3px 5px;
	border: 1px solid black;
	cursor: pointer;
}
#shopCategoriesPanel{
	margin: 5px 0px 15px 0px;
}
.shopItemBoxWrapper{
	display: inline-block;
	padding: 1px;
}
.shopItemBoxWrapper a{
    color: black;
    text-decoration: none;
}
.shopItemBox{
	width: 10vw;
  	height: 10vw;
	display: inline-block;
	box-sizing: border-box;	
	border: 2px solid black;
	display: table-cell;
	vertical-align: bottom;
}
.shopItemBox .title{
	text-align: center;
	font-size: 0.95vw;
	text-transform: uppercase;
	padding: 5%;
	vertical-align: top;
}
.shopItemBox .detail{
	height: 7.5vW;
	box-sizing: border-box;	
}
.shopItemBox .ilustration{
	max-width: 5vW;
	max-height: 4vW;
	float: right;
	box-sizing: border-box;
}
.profilItemBoxWrapper{
	display: inline-block;
	padding: 1px;
}
.profilItemBox{
	width: 7vw;
  	height: 7vw;
	box-sizing: border-box;	
	border: 2px solid black;
	display: table-cell;
	vertical-align: bottom;
}
.profilItemBox .title{
	text-align: center;
	font-size: 0.8vw;
	text-transform: uppercase;
	padding: 5%;
	vertical-align: top;
}
.inactiveCategoryTitle{
  background-color: black !important;
  color: white !important;
}
.profilItemBox .ilustration{
	max-width: 100%;
	max-height: 4vW;
	float: right;
	box-sizing: border-box;
}
.profilItemBox .detail{
	height: 7.5vW;
	box-sizing: border-box;	
	display: inline-block;
}
.profilItemBox .count{
	clear: both;
	width: 0px;
	height: 0px;
	overflow: visible;
	position: relative;
	top: -1.2vW;
	left: 0.2vH;
	font-size: 1vw;
}
.shopItemBox .price{
	float: left;
	box-sizing: border-box;	
	max-width: 4.5vW;
	padding-left: 3px;
	font-size: 1vw;
}
.shopItemBox .buy{
	cursor: pointer;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	line-height: 2.5vW;
	box-sizing: border-box;	
}
.shopItemBox .noMoney{
	cursor: default;
	color: gray;
}
.table_name a{
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.table_name a:hover{
    text-decoration: underline;
}
.table_message{
	width: 2em;
	text-align: center;	
}
.table_message img{
	height: 1em;	
	display: inline-block;
}
#weaponImg{
	width: 600px;
	height: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.workroom_activePart{
	width: 10vw;
  	height: 10vw;
	display: inline-block;
	box-sizing: border-box;	
	border: 2px solid black;
	display: table-cell;
	vertical-align: top;
}
.workroomWeapon{
	float: left;
	width: 42vW !important;
	height: 22vW !important;
	margin: 0.5vW;
}
.workroomParts{
	width: 40ft;
}
.workshopItemBoxWrapper{
	display: inline-block;
	background-image: url(../images/icons/background-workroom.svg);
	background-size: 100%;
	margin: 0.5vW;
}
.workshopItemBoxWrapper a{
    color: inline-black;
    text-decoration: none;
}
.workshopItemBox{
	width: 10vw;
  	height: 10vw;
	display: inline-block;
	box-sizing: border-box;	
	display: table-cell;
	vertical-align: top;
	cursor: pointer;
}
.workshopItemBox .title{
	text-align: center;
	font-size: 0.95vw;
	text-transform: uppercase;
	padding: 5%;
	vertical-align: top;
}
.workshopItemBox .detail{
	box-sizing: border-box;	
}
.workshopItemBox .ilustration{
	max-width: 7.4vW;
	max-height: 7.4vW;
	display: block;
	margin: 0px auto;
	box-sizing: border-box;
}
#messageBlackBackground{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(2, 2, 2, 0.88);
	z-index: 1000;
	display: none;
	box-sizing: border-box;
}
#messageWhiteBackground{
	width: 50vW;
	height: 50vH;
	background-color: white;
	z-index: 1001;
	margin: 25vH 25vW;
	display: block;
	box-sizing: border-box;
	padding: 20px;
	position: fixed;
}
#closeMessage{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url(../images/icons/close.svg);
	background-size: 100%;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
#languageNavigation{
	padding: 0px;
	position: absolute;
	z-index: 310;
	margin: 0px;
	top: 0px;
}
#languageNavigation li{
	display: inline-block;
	padding: 0px;
}
.bankTable{
	border-collapse: collapse;
	width: 80%;
}
.bankTable td{
	padding: 5px 0px;
}
.bankTable .datum{
	width: 200px;
	text-align: right;
	padding-right: 20px;
}
.bankTable .positive{
	width: 80px;
	text-align: right;
	border-left: 1px solid black;
}
.bankTable .negative{
	width: 80px;
	padding-right: 20px;
	text-align: right;
	border-right: 1px solid black;
}
.goTraining{
		width: 25px;
		height: 25px;
		background-image: url(../images/icons/go.svg);
		background-size: 100%;
		cursor: pointer;
}
.goNotTraining{
		width: 25px;
		height: 25px;
		background-image: url(../images/icons/go-not.svg);
		background-size: 100%;
		cursor:not-allowed;
}
.goTraining:hover{
	background-image: url(../images/icons/go-hover.svg);
}
.personalDefinition{
	float: right;
	width: 290px;
}
.personalDefinition .personal_left{
	text-align: right;
	padding-right: 20px;
	width: 105px;
}
.userWeapon{
	width: 70vW !important;
	height: 40vW !important;
}
#topBackground{
	background-image: url(../images/topBackground.svg);
	background-size: auto 100%;
	width: 100%;
	height: 10vW;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -15;
}
.workroom-weapon{
	background-image: url(../images/icons/weapon.svg);
	background-size: 100% auto;
}
.workroom-weapon:hover{
	background-image: url(../images/icons/weapon-active.svg);
	background-size: 100% auto;
}
.workroom-stock{
	background-image: url(../images/icons/stock.svg);
	background-size: 100% auto;
}
.workroom-stock:hover{
	background-image: url(../images/icons/stock-active.svg);
	background-size: 100% auto;
}
.workroom-harness{
	background-image: url(../images/icons/harness.svg);
	background-size: 100% auto;
}
.workroom-harness:hover{
	background-image: url(../images/icons/harness-active.svg);
	background-size: 100% auto;
}
.workroom-diopter{
	background-image: url(../images/icons/diopter.svg);
	background-size: 100% auto;
}
.workroom-diopter:hover{
	background-image: url(../images/icons/diopter-active.svg);
	background-size: 100% auto;
}
.workroom-buttPlate{
	background-image: url(../images/icons/buttPlate.svg);
	background-size: 100% auto;
}
.workroom-buttPlate:hover{
	background-image: url(../images/icons/buttPlate-active.svg);
	background-size: 100% auto;
}

@media only screen and (max-device-width: 600px){
	#header{
		position: relative;
		width: 100%;
		height: 80px;
	}
	#logo{
		width: 100%;
		height: 64px;
	}
	#head_navigation {
		float: none;
		width: 100%;
		margin: 0px 0px 0px 0px;
	}
	.header_money{
		display: block;
		width: 100%;
		text-align: center;
		top: 0px;
		left: 0px;
	}
	.header_energy{
		display: block;
		width: 100%;
		text-align: center;
		top: 0px;
		left: 0px;
	}
	.header_name{
		display: block;
		top: 0px;
		left: 0px;
		float: right;
	}
	.header_message{
		float: left;
		display: block;
		top: 0px;
		left: 0px;
	}
	#navigationButton{
		display: block;
		width: 50px;
		height: 50px;
		background-color: blue;
		position: fixed;
		top: 0px;
		right: 0px;
		z-index: 1000;
	}
	nav{
		float: none;
		width: 100%;
		position: fixed;
		display: none;
		top: 0px;
		left: 0px;
		padding: 60px 0px 0px 0px;
		height: 100%;
		background-color: white;
	}
	.header_activity{
		font-size: 0.8em;
	}
	#weaponImg{
		width: 100vW;
		height: 50vW;
		box-sizing: border-box;
	}
	.profilItemBox{
		width: 25vW;
		height: 25vw;
	}
	.profilItemBox .detail{
		height: 24vW;
	}
	.profilItemBox .title{
		font-size: 0.8em;
	}
	.profilItemBox .ilustration{
		max-height: 14vW;
	}
}